/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.debuger {
  border: 2px solid #ff0000;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */
